
.orderSearch{
    position: absolute;
    top: 30px;
    left: 240px;
    cursor: pointer;

}
.orderSearch div{
    float:left;
    border-radius:4px;
}
.data{
    width:160px;
    height:120px;
    border:1px solid #cccccc;
    position: absolute;
    top:40px;
    left:10px;
    display: none;
}
.data2 {
    width: 160px;
    height: 120px;
    border: 1px solid #cccccc;
    position: absolute;
    top: 40px;
    left: 192px;
    z-index: 2;
    background:yellow;
    display: none;
}
.payment{
    width:160px;
    height:120px;
    position: absolute;
    left:374px;
    top:40px;
    border:1px solid #ccc;
    z-index: 2;
    display:none;
}
.payment li{
    width:160px;
    height:30px;
    line-height:30px;
    text-align: center;
    background:yellow;
}
.method{
    width:160px;
    height:120px;
    position: absolute;
    left:556px;
    top:40px;
    border:1px solid #cccccc;
    display: none;
}
.method li{
    width:160px;
    height:40px;
    line-height:40px;
    text-align: center;
    background:yellow;
}
.orderSearch input{
    width:154px;
    height:30px;
    margin:0 10px;
    padding-left:6px;
    border-radius: 3px;
    border:1px solid #ccc;
}
.orderSearch2{
    position: absolute;
    top: 50px;
    left: 550px;
    cursor: pointer;
}
.orderSearch2 input{
    width:200px;
    height:37px;
    position: absolute;
    top: 16px;
    padding-left:6px;
    border-radius: 3px;
    border:1px solid #ccc;
}
.orderSearch3{
     position: absolute;
     top: 16px;
     left: 210px;
     cursor: pointer;
     width:22px;
     height:22px;
     padding:8px 14px;
     border-radius: 4px;
     background:#1aa194;
}
.doIt2{
    margin-top:110px;
}
.payment{
    width:160px;
    height:60px;
    border:1px solid #ccc;
}