.payFee-page{
	overflow: hidden;
	margin:0 auto;
	width:1066px;
}
.payFree{
	margin-bottom:20px;
}
.payFee-container {
	padding: 20px 30px;
	margin-bottom: 14px;
	border: 1px solid #ccc;
	font-size: 14px;
	border-radius: 2px;
	background: #fff;
}
.payFee-container .tit{
	height: 30px;
	line-height: 30px;
	margin-bottom: 8px;
}
.payFee-container h5{
	float: left;
	font-size: 14px;
	font-weight: normal;
	
}
.promoted-link{
	float: right;
}
.payFee-container dl{
	position: relative;
	margin-bottom: 10px;
}
.payFee-container dt{
	font-size: 13px;
    font-weight: lighter;
    position: absolute;
    left: 0;
    top: 6px;
    text-align: center;
    height: 24px;
    line-height: 24px;
    width: 125px;
    border-right: 1px dotted #bfbfbf;
}

.payFee-container .input-group{
	border: 1px solid #bfbfbf;
	height: 34px;
	line-height: 34px;
	border-radius: 2px;
}
.payFee-container .input-group:hover{
	border-color: gray;
}
.payFee-container .input-group input{
	width: 100%;
	height: 28px;
	line-height: 28px;
	border: none;
	padding-left: 136px;
	box-sizing: border-box;
}
.payFee-container .input-group span{
	cursor: pointer;
	font-size: 20px;
	line-height: 20px;
	vertical-align: top;
	position: absolute;
	top: 0;
	right: 10px;
}
.payFee-container .weight1{
	width:320px;
}
.payFee-container .weight1 input{
	width: 150px;
}
.payFee-container .weight1 span{
	font-size: 14px;
	line-height: 32px;
	height: 32px;
	left: 280px;
}
.payFee-container .time{
	width:280px;
}
.payFee-container .time input{
	width: 120px;
}

.area-level-tabs{
	text-align: center;
}
.area-level-tabs li{
	float: left;
}
.primary-button{
	width:120px;
	height: 34px;
	line-height: 34px;
	background: gray;
	border-radius: 4px;
	border: none;
	color: #fff;
	margin-top: 10px;
}
/*我的产品*/
.services-container{
	position: relative;
}

.services-container:before{
	content: '';
	width: 29px;
	height: 18px;
	background: url(../img/connector-bg.png) no-repeat;
	position: absolute;
	top: -17px;
	left: 64px;
}
.services-container{
	border: 1px solid #d9d9d9;
	background: #fff;
}
.services-top-bar{
	padding: 0 10px 0 32px;
	overflow: hidden;
}
.pull-left{
	float: left;
	margin: 25px 0;
	font-size: 14px;
	font-weight: normal;
}
.services-bottom-bar{
	padding: 20px;
}
.pull-right{
	 float: right;
	 padding-top: 10px;
}
.pull-right li{
	width: 120px;
	float: left;
	line-height: 25px;
	text-align: center;
}
.pull-right li span{
	border-left: 1px solid #ddd;
	display: block;
}
.pull-right li:nth-child(2){
	width: 228px;
}
.pull-right li a{
	color: #999;
    display: block;
    font-size: 10px;
    text-align: center;
    line-height: 25px;
}
.service-wrapper{
	padding-left: 32px;
	background-image: url(../img/detail-top-shadow.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}
.service-wrapper li{
	height: 95px;
	border-bottom: 1px solid #ccc;
}
.service-wrapper li>div{
	float: left;
	line-height: 95px;
}
.payFee-info{
	width: 390px;
	margin-right:163px;
}
.weight-info{
	width: 120px;
	text-align: center;
}
.time-info{
	width: 225px;
	text-align: center;
	color: #eb1d21;
}
.rate-info{
	width: 128px;
	text-align: center;
	color: #eb1d21;;
}
/*其他服务*/
.other-services-container{
	position: relative;
	margin-top: 14px;
	border: 1px solid #d9d9d9;
	background: #fff;
	padding: 20px 15px;
}
.other-services-container:before{
	content: '';
	width: 29px;
	height: 18px;
	background: url(../img/connector-bg.png) no-repeat;
	position: absolute;
	top: -17px;
	left: 64px;
}
.other-services-container h5{
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: normal;
}
.other-services{
	
}
.other-services a{
	width: 100%;
	display: block;
	background: #f2f2f2;
    border-radius: 4px;
    padding: 10px 0;
    margin-top: 15px;
    color: gray;
    overflow: hidden;
    
}
.service-info{
	box-sizing:border-box;
	width: 60%;
	float: left;
	padding: 0 14px;
}
.service-title{
	
	display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 32px;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}
.hot{
	width: 40%;
	float: right;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #eb1d21;
    line-height: 60px;
    text-align: center;
}

.side-note{
	margin-top: 14px;
	position: relative;
}
.content-page:before{
	content: '';
	width: 29px;
	height: 18px;
	background: url(../img/connector-bg.png) no-repeat;
	position: absolute;
	top: -16px;
	left: 64px;
}
.content-page{
	border: 1px solid #d9d9d9;
	background: #fff;
	padding: 20px;
}
.content-page>p{
	line-height: 24px;
	margin: 0 0 9px;
	color: #333;
	font-size: 13px;
}
.content-page a{
	color: #eb1d21;
}
/*按钮*/
.order-button-wrapper{
	text-align: center;
	margin: 40px 0;
}
.order-button{
	display: inline-block;
    height: 72px;
    line-height: 64px;
    border: solid 4px #eb1d21;
    border-radius: 3px;
    background: url(../img/order-button-background.png);
    font-size: 16px;
    color: #eb1d21;
    cursor: pointer;
    overflow: hidden;
}
.order-button-inner{
	padding: 0 35px 0 47px;
}
.order-button-inner img,.order-button-inner div{
	float: left;
}
.order-button-inner img{
	margin-top: 20px;
	margin-right: 10px;
}
.order-button-inner div{
	 height: 72px;
    line-height: 72px;
}
